body{
    margin: 0px;
}
.soutLine{
background-color: rgb(18, 31, 51);
height: 17vh;
}
#userName{
color: white;
font-size: 24px;
top: 6vh;
right: 5%;
}
#logo{
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    top: 4vh;
}
.questionAndAnswer{
    position: absolute;
    top: 25%;
    left: 20%;
}
#next{
    position: absolute;
    top: 70%;
    left: 30%;
    border: none;
    width: 7%;
    border-radius: 10px;
}
#next:hover{
    background-color:aquamarine;
}
#prev{
    position: absolute;
    top: 70%;
    left: 19%;
    border: none;
    width: 7%;
    border-radius: 10px;

}
#prev:hover{
    background-color:aquamarine;
}
#submit{
    position: absolute;
    top: 70%;
    left: 41%;
    border: none;
    width: 7%;
    border-radius: 10px;

    /* display: none; */
}
#submit:hover{
    background-color: aquamarine;
}
#option1{
    position: absolute;
    height: 45%;
    width: 125%;
    top: 10vh;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 10px;
}
#option1:hover{
    background-color:rgb(7, 161, 207);
}
#option2{
    position: absolute;
    height: 45%;
    width: 125%;
    top: 17vh;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 10px;
}
#option2:hover{
    background-color:rgb(7, 161, 207);
}
#option3{
    position: absolute;
    height: 45%;
    width: 125%;
    top: 24vh;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 10px;    
    
}
